:root {
    --primary-blue: #4B8090;
    --secondary-brown: #C09471;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
#content {
    margin-top: 50px;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

img {
    width: 100%;
    height: 100%;
}


/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
#homePage {
    height: 70vh;
}

#startBtn, .continue-btn {
    background-color: var(--primary-blue);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

/*--------------------------------------------------------------
# Learning
--------------------------------------------------------------*/
.module-photo {
    height: 500px;
}

.continue-container {
    margin-top: 50px;
}