:root {
    --primary-blue: #4B8090;
    --secondary-brown: #C09471;
    --green: rgba(10, 82, 26, 0.6);
    --red: rgba(252, 1, 1, 0.3);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
#content {
    margin-top: 50px;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

img {
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar {
    padding: 10px 50px 10px 40px;
}
nav * {
    color: white;
}

.navbar-brand {
    font-weight: 800;
}

.navbar-nav {
    gap: 10px;
}


/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
#homePage {
    height: 70vh;
}

#startBtn, .continue-btn, #startq {
    background-color: var(--primary-blue);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.hero-container {
    padding-top: 50px;
    height: 100%;
}


/*--------------------------------------------------------------
# Learning
--------------------------------------------------------------*/
.module-title {
    margin-bottom: 20px;
}
.module-photo {
    height: 500px;
}

.module-audio {
    margin-top: 50px;
}

.continue-container {
    padding: 10px 0px 10px 0px;
    margin-top: 50px;
}

#takeQuizBtn {
    margin-top: 30px;
}

/*--------------------------------------------------------------
# Quiz
--------------------------------------------------------------*/
.quiz-metrics {
    width: 100%;
}

.quiz-metrics * {
    color: var(--secondary-brown);
    margin-bottom: 20px;
    font-size: 20px;
}

.quiz-title {
    margin-bottom: 20px;
}

.answer {
    margin: 5px 0px 5px 0px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
    border-radius: 8px;
}

.answer:hover {
    background-color: var(--primary-blue);
    color: white;
}

#info {
    width: 200px;
    height: 300px;
}

.correct-info, .incorrect-info {
    width: 100%;
    height: 100%; 
    color: white;
    padding: 30px;
    border-radius: 8px;
}

.correct-info {
    background-color: var(--green);
}

.incorrect-info {
    background-color: var(--red);
}

#returnTo {
    height: 30vh;
    margin-top: 40px;
}

#returnTo > .col-6 {
    gap: 80px;
}