:root {
    --primary-blue: #4B8090;
    --secondary-brown: #C09471;
    --green: rgba(10, 82, 26, 0.6);
    --red: rgba(252, 1, 1, 0.3);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
p {
    margin: 0;
}

h6 {
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
#content {
    margin-top: 50px;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

img {
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar {
    padding: 10px 30px 10px 30px;
}
nav * {
    color: white;
}

.navbar-brand {
    font-weight: 800;
}

.navbar-nav {
    gap: 10px;
}


/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
#homePage {
    height: 70vh;
}

#startBtn, .continue-btn, #startq {
    background-color: var(--primary-blue);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.hero-container {
    padding-top: 50px;
    height: 100%;
}


/*--------------------------------------------------------------
# Learning
--------------------------------------------------------------*/
.module-title {
    margin-bottom: 20px;
}
.module-photo {
    height: 500px;
}

.module-audio {
    margin-top: 50px;
}

.continue-container {
    padding: 10px 0px 10px 0px;
    margin-top: 50px;
}

#takeQuizBtn {
    margin-top: 30px;
}

#report {
    margin-bottom: 30px;
}

.report-card {
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px 5px 10px 5px;
    padding: 0; 
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.report-card-header {
    height: 30%;
    border-bottom: 1px solid black;
    padding: 5px;
}

.report-card-content {
    height: 70%;
    padding: 5px;
}
 
#learning_message {
    margin-top: 20px;
}
/*--------------------------------------------------------------
# Quiz
--------------------------------------------------------------*/
.quiz-metrics {
    width: 100%;
}

.quiz-metrics * {
    color: var(--secondary-brown);
    margin-bottom: 20px;
    font-size: 20px;
}

.quiz-title {
    margin-bottom: 20px;
}

.answer {
    margin: 5px 0px 5px 0px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
    border-radius: 8px;
}

.answer:hover {
    background-color: var(--primary-blue);
    color: white;
}

#info {
    width: 200px;
    height: 300px;
}

.correct-info, .incorrect-info {
    width: 100%;
    height: 100%; 
    color: white;
    padding: 30px;
    border-radius: 8px;
}

.correct-info {
    background-color: var(--green);
}

.incorrect-info {
    background-color: var(--red);
}

#returnTo {
    height: 30vh;
    margin-top: 40px;
}

#returnTo > .col-6 {
    gap: 80px;
}

.slidecontainer {
    width: 100%;
    padding: 20px;
}

.slider:hover {
    opacity: 1; 
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.float-center{
    width: 100%;
    text-align: center;
}

.check{
    width:100%
}

textarea:focus::placeholder {
    color: transparent;
}

.info{
    margin: 10px;
}