{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script>
    
<script>
</script>
<div class= "container">
    <div class="row">
        <div class="col-6">
            <div class="hero-container">
                <h1>Meditation</h1>
                <p>Mindfulness training can be beneficial to your mental well being</p>
                <button id="startBtn">Start Now</button>
            </div>
        </div>
        <div class="col-6">
            <img>
        </div>
    </div>
</div>

{% endblock %}