{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learning.js') }}"></script>
<script>
    let module = {{module|tojson}}
</script>

<div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
        <h1 class="module-title">{{module.title}}</h1>
        <p class="module-text">{{module.text}}</p>
        <div class="module-photo">
            <img src="{{module.image}}">
        </div>
        <div class="module-audio">
            <audio src={{module.audio}} preload="auto" type="audio/mpeg" controls></audio> 
        </div>
    </div>
</div>
<div class="continue-container d-flex justify-content-end">
    <button class="continue-btn" id="continue">Continue</button>
</div>

{% endblock %}



