{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}">
    total_score =  {{total_score|tojson}} 
</script>

<div class="row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <div class = "info">
            Congratulations! You have finished the quiz!
        </div>
    </div>
</div>

<div class = "row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <div class = "info">
            You scored {{total_score}}/6
        </div>
    </div>
</div>

<div class = "row"> 
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <a href="/quiz/start">
            <button class="continue-btn"> 
               Restart Quiz
            </button>
        </a>
    </div>
</div>


{% endblock %}



