{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    let question = {{question|tojson}}
    let total_score = {{total_score|tojson}}
    let question_num = {{question_num|tojson}}
    let total_num = {{total_num|tojson}}
</script>

<div class = "row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <span id="question_num" hidden>{{question_num}}</span>
        <h2 id ="question">
            {{question.question}} 
        </h2>
    </div>
</div>
<div class = "row">
    <div class= "col-md-2">
        <div id = "info">
        </div>
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <div id = "answers">
        </div>
    </div>
    <div class= "col-md-2 d-flex" id="quizScore">
        <span>Current Score:</span><span id = "total_score">{{total_score}}/{{total_num}}</span>
    </div>
</div>
<div class = "row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
    </div>
    <div class= "col-md-2">
        <button id="continue" class="continue-btn"> Continue</button>
    </div>
</div>



{% endblock %}



