{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    let question = {{question|tojson}}
    let total_score = {{total_score|tojson}}
    let question_num = {{question_num|tojson}}
    let total_questions = {{total_questions|tojson}}
</script>
<div class="row quiz-metrics">
    <div class="col-6 d-flex justify-content-center">
        <div>
            <p id="questionNum"><span>Question </span>{{question_num}}<span>/{{total_questions}}</span></p>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <p>Your Score: <span id ="totalScore">{{total_score}}</span></p>
    </div>
</div>
<div class="row quiz-title">
    <div class="col-12 d-flex justify-content-center">
        <div class="question-container d-flex">
            <h2>{{question.question}}</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <div id="info">
        </div>
    </div>
    <div class="col-8 d-flex justify-content-center">
        <div id="answers">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <button id="continue" class="continue-btn"> Continue</button>
    </div>
</div>


<!-- <div class = "row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <span id="question_num">{{question_num}}</span>
        <span id="question">
            . {{question.question}} 
        </span>
    </div>
</div>
<div class = "row">
    <div class= "col-md-2">
        <div id = "info">
        </div>
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <div id = "answers">
        </div>
    </div>
    <div class= "col-md-1">
        <button id="continue" class="continue-btn"> Continue</button>
    </div>
    <div class= "col-md-1">
        <span> This is your current score: </span><span id = "total_score">{{total_score}}/3 </span>
    </div>
</div> -->


{% endblock %}



