{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'report.js') }}"></script>
<script>
    let module = {{module|tojson}}
</script>

<div class = "row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <div id ="question">
            How did this exercise make you feel?
        </div>
    </div>
</div>
<div class = "row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <div class="slidecontainer" >
            <label class="float-left">Agitated</label>
            <label class="float-right">Relaxed</label>
            <input type="range" min="-25" max="25" value="0" class="slider" id = "feeling_scale">
            <span class="float-center"><label class="float-center">The same</label></span>
        </div>
    </div>
    <div class= "col-md-2">
    </div>
</div>
<div class = "row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <div class="checking">
            Are you...
            <label class="check_container">Focusing on your breathing?
                <input type="checkbox" id="breathing">
                <span class="checkmark"></span>
              </label>
              
              <label class="check_container">Checking in with your body?
                <input type="checkbox" id="body">
                <span class="checkmark"></span>
              </label>
              
              <label class="check_container">Letting go of your thoughts?
                <input type="checkbox" id="thoughts">
                <span class="checkmark"></span>
              </label>
            
        </div>
    </div>
</div>
<div class = "row">
    <div class= "col-md-2">
    </div>
    <div class = "col-md-8 d-flex justify-content-center">
        <div class="notes">
            <div>Notes:</div>
            <textarea id="notes_box" rows="4" cols="50" placeholder="Write any notes for yourself or any thoughts that you have here."></textarea>
        </div>
    </div>
</div>
<div class = "row">
    <div class="col-md-10">
    </div>
    <div class= "col-md-2">
        <a id ="next_lession" href="/learning/{{ module.next}}" ><button class="continue-btn" id="next">Next Lesson</button></a>
    </div>
</div>


{% endblock %}



